.square {
    -fx-border-style: solid;
}

.selected {
    -fx-background-color: silver;
}

.selectable {
    -fx-border-width: 5;
}

.square:hover {
    -fx-background-color: ghostwhite;
}

.light {
    -fx-background-color: #FFF8DC;
}

.dark{
    -fx-background-color: #CD853F;
}

.red {
    -fx-background-color: #FF0000;
}

#main {
    -fx-background-image: url("/images/main.png");
    -fx-background-position: center;
}

#players {
    -fx-background-image: url("/images/players.png");
    -fx-background-position: center;
}

#win {
    -fx-background-image: url("/images/congrat.png");
    -fx-background-position: center;
}

#scoreboard {
    -fx-background-image: url("/images/scoreboard.png");
    -fx-background-position: center;
}
